body{
    margin: 0;
    background-color: whitesmoke;
}

.topnavbar{
    overflow: hidden;
    background-color: black;
    border: 5px solid #353b48;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.topnavbar a{
    float: left;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 17px;
    margin-left: 20px;
    margin-right: 20px;
}

.topnavbar a:hover{
    background-color: white;
    color: black;
}

.topnavbar a.active{
    background-color: limegreen;
    color: white;
}

h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#f7b731;
    text-align: center;
    font-size: 40px;
}

main{
    margin-top: 100px;
}

p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-left: 350px;
    margin-right: 350px;
}

h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    text-align: center;
    color: turquoise;
}

.line-height{
    line-height: 1.4;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#lista{
    margin-left: 550px;
    font-size: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 23px;
    color: purple;
}

form{
    border: 5px solid black;
    border-radius: 10px;
    margin-left: 600px;
    margin-right: 590px;
    padding-left: 5px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 23px;
}

#knapp{
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#lista a{
    color: blue;
}

#lista a:hover{
    color: black;
}

#picture1{
    margin-left: 560px;
    margin-right: 552px;
    margin-bottom: 20px;
}